* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
}

header {
    background: #333;
    color: #fff;
    padding: 1em;
    text-align: center;
    position: relative;
}

#name {
    cursor: pointer;
    font-size: 2em;
    transition: color 0.3s;
}

#name:hover {
    color: #ffd700;
}

#navbar {
    display: none;
    background: #444;
    padding: 0.5em;
}

#navbar ul {
    list-style: none;
    text-align: center;
}

#navbar ul li {
    display: inline;
    margin: 0 1em;
}

#navbar ul li a {
    color: #fff;
    text-decoration: none;
}

main {
    max-width: 80%;
    margin: 0 auto;
    padding: 1em;
    display: flex;
    justify-content: space-between;
}

section {
    flex: 1;
}

aside {
    flex: 0 0 20%;
    margin-left: 20px;
}

.skills-list {
    display: none; /* Hide the skill lists initially */
}

.project-detail {
    display: none; /* Hide all project detail sections initially */
}

/* Add a cursor pointer to labels to indicate they are clickable */
.skills-label {
    cursor: pointer;
}

/* Style for the visible skill lists */
.skills-list.visible {
    display: block;
}

/* Style for the visible project detail sections */
.project-detail.visible {
    display: block;
}

.hidden {
    display: none;
}

footer {
    background: #333;
    color: #fff;
    text-align: center;
    padding: 1em;
}

.social-icons a {
    margin: 0 10px;
    color: #ffd700;
    text-decoration: none;
}
